
<!-- Main JavaScript file, bundled by Netlify -->
<script defer src="/assets/js/vendor/bling.js"></script>
<script defer src="/assets/js/vendor/a11y-dialog.js"></script>
<script defer src="/assets/js/src/helpers.js"></script>
<script defer src="/assets/js/src/sidebar.js"></script>
<script defer src="/assets/js/src/app.js"></script>

{% if site.environment == 'production' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136792458-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136792458-1');
</script>
{% endif %}